<main>
  <section class="section">
    <div class="container">
      <form (ngSubmit)="processForm(form.value); form.reset();" #form="ngForm">
        <!-- name -->
        <div class=”form-group”>
          <div class="field">
            <label for="name" class="font-weight-bold">Nombre</label>
            <input type="text" name="name" class="input" placeholder="Tu Nombre" ngModel required #name="ngModel">
            <div [hidden]="name.valid || name.untouched" class="alert alert-danger">Debe introducir un nombre</div>
          </div>
        </div>
        <!-- email -->
        <div class=”form-group” style="margin-top:10px">
          <div class="field">
            <label for="email" class="font-weight-bold">Email</label>
            <input type="email" name="email" class="input" placeholder="Tu Email" ngModel required email #email="ngModel">
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">Debe introducir un email correcto</div>
          </div>
        </div>
        <!-- message -->
        <div class=”form-group” style="margin-top:10px">
          <div class="field">
            <label for="message">Mensaje</label>
            <textarea class="textarea" name="message" placeholder="Escribe aquí tus dudas / sugerencias" ngModel></textarea>
          </div>
        </div>
        <button type="submit" class="button is-info is-medium" style="margin-top:10px" [disabled]="!form.valid">Enviar</button>
        
      </form>
    </div>
  </section>
</main>