<div class="fondo_home">
    <div id="etapas" class="etapas" style="border:0px solid">
        <div class="main fila pdd80-15">
            <div class="columna2new pdd15 tacenter vacenter">
                <span class="desc" style="align:center;width:50px;height:50px;margin-left:44%;border:0px solid #6E6E6E;background-image: url('assets/images/clientes_pequeno.png');"></span>						
                <h4>PORQUE TU ERES LO MAS IMPORTANTE</h4>
                <span class="desc">
                    Desde Viajes Gala te ofrecemos una amplia gama de viajes organizados, escapadas rom&aacute;nticas, musicales, Spa, Aventuras y un largo etc para t&iacute; y los tuyos. Organizados por y para t&iacute;, vis&iacute;tanos y consulta nuestros variados programas								
                </span>
            </div>
            
            <div class="columna05 tacenter vacenter">
                <i class="fa fa-angle-right" aria-hidden="true" style="color:#848484"></i>
            </div>
            
            <div class="columna2new pdd15 tacenter vacenter">
                <span class="desc" style="align:center;width:50px;height:50px;margin-left:44%;border:0px solid #6E6E6E;background-image: url('assets/images/clientes_pequeno.png');"></span>
                <h4>Un viaje totalmente adaptado a t&iacute;</h4>
                <span class="desc">Imagina el viaje de tus sue&ntilde;os y hazlo realidad. Elige el destino y d&eacute;jate seducir por alguno de los inolvidables viajes que te proponemos, cruceros, circuitos, New York, Oriente, destinos ex&oacute;ticos... Te ayudamos a decidir, d&eacute;janos asesorarte.</span>
            </div>	
            
        </div>
    </div>

    <div class="nosotros_home">
        <div class="main fila pdd80-30 pdd-no-top">
            <div class="columna5 bg foto1 bg wow fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
            <div class="columna5 tacenter pdd80">
                <span class="num">1</span>
                <h5>Te prestamos una atenci&oacute;n personal</h5>
                <span class="desc">En Viajes Gala disfrutar&aacute;s de un trato personal. Nuestro objetivo siempre es conseguir un viaje adaptado completamente a ti</span>
            </div>
            <div class="columna5 tacenter pdd80">
                <span class="num">2</span>
                <h5>Ajustamos el precio a cada cliente</h5>
                <span class="desc">Nos adaptamos a tus necesidades. Por ello, podemos conseguir ajustar los precios para que se ajuste a tu presupuesto</span>
            </div>
            <div class="columna5 bg foto2 bg wow fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
            <div class="columna5 bg foto3 bg wow fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
            <div class="columna5 tacenter pdd80">
                <span class="num">3</span>
                <h5>Te acompa&ntilde;amos en tu gran viaje</h5>
                <span class="desc">Queremos serte de ayuda en todo momento. En Viajes Gala estaremos a tu disposici&oacute;n en todo momento antes y durante tu viaje</span>
            </div>
            <div class="columna5 tacenter pdd80">
                <span class="num">4</span>
                <h5>M&aacute;s de 15 a&ntilde;os de experiencia</h5>
                <span class="desc">En nuestros m&aacute;s de 15 a&ntilde;os en el sector, Viajes Gala ha conseguido aprender y mejorar hasta alcanzar la excelencia</span>
            </div>
            <div class="columna5 bg foto4 bg wow fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
            <div class="columna5 bg foto5 bg wow fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
            <div class="columna5 tacenter pdd80">
                <span class="num">5</span>
                <h5>Esto es solo una peque&ntilde;a muestra</h5>
                <span class="desc">Los viajes que te presentamos en nuestra web son solo una peque&ntilde;a representaci&oacute;n de lo que hacemos, ven a vernos y descubre m&aacute;s</span>
            </div>
            <div class="columna5 tacenter pdd80">
                <span class="num">6</span>
                <h5>No te lo pierdas</h5>
                <span class="desc">Con tu familia o amigos podr&aacute;s disfrutar de las mejores vacaciones</span>
            </div>
            <div class="columna5 bg foto7 bg wow fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
        </div>
    </div>
</div>
