<main>
  <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
          <div class="col-xs-12 col-sm-9">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                  <li class="breadcrumb-item active">Categorías</li>
              </ol>
              <div class="jumbotron">
                  <h1>Categorías</h1>
                  <p>Esto una lista de las categorías disponibles, haz click en ellas para ver una lista de entradas de la categoría seleccionada.</p>
              </div>
              <router-outlet></router-outlet>
          </div>
          <router-outlet name="sidemenu"></router-outlet>
      </div>
  </div>
</main>
