<!--<video autoplay muted loop id="myVideo">
  <source src="assets/video/video_america.mp4" type="video/mp4">
</video>-->
<main class="home">

  <!--<a style="color:white" class="btn btn-primary wow pulse" data-wow-iteration="infinite" data-wow-duration="1500ms">Empieza tu viaje</a>-->

  <!-- The social media icon bar -->
  <div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>

</main>
