<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://www.viajesgala.es/">
      <img src="assets/images/logo_gala.png" width="112" height="28">
    </a>
  </div>
  <div class="navbar-menu is-active">
    <!-- navbar start, navbar end -->
    <div class="navbar-start">
      <a class="navbar-item is-tab" routerLink="home">Home</a>
      <a class="navbar-item is-tab" routerLink="about">Sobre Nosotros</a>
      <!--<a class="navbar-item is-tab" routerLink="categories">Categorías</a>-->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">Categorías</a>
        <div class="navbar-dropdown">
          <a class="navbar-item">Cruceros</a>
        </div>
      </div>
      <a class="navbar-item is-tab" routerLink="contact">Contacto</a>
    </div>
  </div>
</nav>

<!--<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Viajes Gala</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="about">Sobre Nosotros</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="categories">Categorías</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="contact">Contacto</a></li>
      </ul>
  </div>
</nav>-->

<router-outlet></router-outlet>

